body {
    flex-wrap: wrap;
    background: #edf1f1;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
}
.weather-wrapper {
    transition: 1s;
    position: relative;
    font-family: 'Mochiy Pop P One', sans-serif;
    border-radius: 10px;
    max-width: 300px;
    min-height: 50%;
    text-align: center;
    box-shadow: 0 0 3px 5px black;
    padding: 3px;
}
.observe-button {
    display: flex;
    height: 25px;
    cursor: pointer;
    width: 20%;
    margin: 10px auto 0;
    border-radius: 10px;
    border: 2px solid black;
    background: black;
    transition: 0.5s;
    font-size: 16px;
    box-shadow: 0 0 3px 5px black;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 65%;
}
label {
    margin: 0 auto;
}
#city-input {
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 0 black;
    letter-spacing: 2px;
    width: 50%;
    height: 20px;
    box-shadow: 0 0 3px 5px black;
    margin: 50px 0 10px 0;
    outline: none;
    border-radius: 2px;
    color: black;
    font-family: 'Mochiy Pop P One', sans-serif;
    text-align: center;
}
.city-name {
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 0 black;
    font-family: 'Mochiy Pop P One', sans-serif;
    letter-spacing: 2px;
    width: 40%;
    min-height: 20px;
    padding: 3px;
    box-shadow: 0 0 3px 5px black;
    margin: 20px 20px 0;
    border-radius: 2px;
    color: black;
}

.temperature {
    width: 40%;
    font-family: 'Mochiy Pop P One', sans-serif;
    padding: 3px;
    height: 20px;
    box-shadow: 0 0 3px 5px black;
    margin: 20px 20px 0;
    border-radius: 2px;
    color: rgba(2, 30, 141, 0.62);
    font-size: 16px;
}
.type-of-weather {
    width: 40%;

    box-shadow: 0 0 3px 5px black;
    margin: 20px 20px 20px 20px;
    border-radius: 2px;

    background: #8c9898;
    min-height: 20px;
    padding: 3px;
}
.btn {
    display: flex;
    height: 25px;
    cursor: pointer;
    width: 20%;
    margin: 10px auto 0;
    border-radius: 10px;
    border: 2px solid black;
    background: black;
    transition: 0.5s;
    font-size: 16px;
    box-shadow: 0 0 3px 5px black;
    justify-content: center;
    align-items: center;
    color: white;

}
.btn:hover {
    box-shadow: 0 0 3px 8px black;
    transition: 0.5s;
    color: white;
}


.weather-wrapper-template {
    margin: 20px;
    position: relative;
    font-family: 'Mochiy Pop P One', sans-serif;
    border-radius: 10px;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 0 3px 5px black;
    padding: 3px;
}

.city-name-template {
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 0 black;
    font-family: 'Mochiy Pop P One', sans-serif;
    letter-spacing: 2px;
    min-width: 100px;
    min-height: 20px;
    padding: 3px;
    box-shadow: 0 0 3px 5px black;
    margin: 20px 20px 0;
    border-radius: 2px;
    color: black;
}

.temperature-template {
    min-width: 100px;
    font-family: 'Mochiy Pop P One', sans-serif;
    padding: 3px;
    height: 20px;
    box-shadow: 0 0 3px 5px black;
    margin: 20px 20px 0;
    border-radius: 2px;
    color: rgba(2, 30, 141, 0.62);
    font-size: 16px;

}
.type-of-weather-template {
    min-width: 100px;
    box-shadow: 0 0 3px 5px black;
    margin: 20px 20px 20px 20px;
    border-radius: 2px;

    background: #8c9898;
    min-height: 20px;
    padding: 3px;
}
